* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(17, 20, 32);
    font-family: 'Space Mono', monospace;
    color: rgb(179, 179, 179);
    padding-top: 60px;
    height: 3000px;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 15px;
    transition: 1s ease;
}

li {
    list-style-type: circle;
    display: inline-block;
    font-weight: normal;
    border-left: 2px solid rgb(115, 85, 125);
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    margin-top: 5px;
}